body {
    font-family: Arial, sans-serif;
    margin: 1 0 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #6986ac;
}

.name {
    flex: 0 0 auto; /* Don't grow, don't shrink, auto base size */
    margin-right: auto; /* Pushes the links div to the center */
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjusts the space between each link */
}

