body {
    font-family: 'Rethink Sans', Arial, sans-serif;
    font-size: 16pt;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;

    transition: background-color 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar styles */
.navbar {
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--nav-color);
    max-width: 60em;
    margin: 2.5em auto; /* Centers navbar elements */ 
    border-radius: 1em;
    border-color: var(--nav-color);
    border-style: solid;

    transition: background-color 0.5s;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    left: 0;
    right: 0;
    width: 100%;
}

.top-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 10;
}

/*Nav blur Effect*/
.nav-blur {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 8em;
    background-image: linear-gradient(var(--blurColor1), var(--blurColor2));
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);

    transition: --blurColor1 0.5s, --blurColor2 0.5s, height 0.5s;
  }

/* Hidden - For transition purposes */
  .hamburger-menu {
    margin-left: 0;

    transition: margin-left 0.2s;
  }

/*Name Styling*/
.name {
    flex: 0 0 auto;
    margin-left: 1em;
    margin-right: auto 1em;
    font-size: 16pt;

    transition: transform 0.5s, color 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s; /* Smooth transition for transform and font-size */
}

/*All Nav Links*/
.nav-links {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjusts the space between each link */
    margin: auto 1em;
    font-size: 16pt;

    transition: margin 0.3s ease, gap 0.3s ease; /*Page Resize Animation Speed*/
}

/*Individual Nav Link Styling*/
.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    display: inline-block;
    position: relative; /* Needed for the absolute positioning of pseudo-elements */
    border-radius: 0.2em; /* Rounded corners */
    transform-origin: center;

    transition: color 0.5s, transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
}

/*adjusts hover effect size*/
.nav-links a::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 0.4em; /* Ensure it matches the border radius of the link */
    background-color: var(--hover-color); /* Slightly brighten the background */
    opacity: 0; /* Start fully transparent */
    box-shadow: 0 0 8px var(--hover-blur); /* Adjusted blur effect */
    z-index: -1; /* Ensure it doesn't block interaction with the link */
    pointer-events: none;

    transition: opacity 0.2s, box-shadow 0.2s;
}

/* Underline Current Page */
.nav-links .current-page {
    display: inline-block; 
}

.nav-links .current-page::before {
    content: '';
    position: absolute;
    left: 50%; /* Center the pseudo-element */
    bottom: 5px; /* Position below the link */
    transform: translateX(-50%); /* Center align the pseudo-element */
    width: 80px; /* Width of the circular line */
    height: 3px; /* Height/thickness of the line */
    background-color: var(--text-color); /* Color of the line */
    border-radius: 15px; /* Creates the circular effect */

    transition: background-color 0.5s;
}

/* Main Content Styling */
.main-content{
    position: relative;
    padding-top: 10em;
    padding-bottom: 2em;
    margin: auto;
    max-width: 60em;
    z-index: 1;

    transition: color 0.5s;
    animation: fadeIn 1s;
}

/*Dark Mode Button*/

.btn-dark-mode {
    position: fixed;
    z-index: 10;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    line-height: 0;
    background-color: var(--nav-color-hover);
    cursor: pointer;
    transition: transform 0.5s, bottom 0.3s;
    /* Initial bottom position, adjusted by JS */
    bottom: 30px; 
}

/*Dark Mode Button Icons*/
.bi-moon, .bi-sun {
    font-size: 36px;
    color: var(--text-color);
}

footer {
    position: relative;
    border-top: 2px solid var(--footer-color); /* gray line */
    max-width: 60em;
    padding: 20px;
    margin: 5em auto;
    text-align: center;

    transition: color 0.5s, border-color 0.5s;
}

/*Social Styling*/
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-links a {
    margin: 0.5em;
    cursor: pointer;
    
    transition: transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
}

/*Social Icons*/
.bi-linkedin, .bi-github {
    font-size: 28px;
    margin: 0.5em;
}




/*index styles*/

.nav-links .home.current-page::before {
    width: 55px; /* Width of the circular line */
}

.index-content-styling{
    text-align: center;
    margin: auto; /* Centers the main content */
}

.index-content-grid {
    display: flex;
    justify-content: center; /* Keeps the grid centered */
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 4em;
    max-width: 800px; 
    margin-left: auto; /* Centering the grid horizontally */
    margin-right: auto;
}

.portrait {
    flex: 1; /* Takes up half the space in the flex container */
    max-width: 50%; /* Maximum width set to 50% */
    text-align: right; /* Aligns the image to the right */
    padding: 10px;
    box-sizing: border-box;
}

.portrait img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    display: inline-block; /* Changes to inline-block for alignment */
    border-radius: 10px;
}

.text-content {
    flex: 1; /* Takes up the remaining half of the space */
    max-width: 50%; /* Maximum width set to 50% */
    text-align: center; /* Centers the text */
    padding: 10px;
    box-sizing: border-box;
}



/*Resume Styles*/

.download-button {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 8px;
    background-color: var(--hover-color); /* Slightly brighten the background */
    border-radius: 20px; /* This gives the squircle shape */
    border: 2px dashed var(--nav-color-hover); /* Dashed border */
    margin-bottom: 3em;
    padding: 10px 20px;
    transition: transform 0.5s, border 0.5s, box-shadow 0.5s; /* Transition for smooth effect */
}

.education-heading{
    position: relative;

}

.education-subheading {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}

.education-details {
    margin-top: 1px;
    margin-bottom: 1px;
    
}

.graduation-date{
    margin-bottom: 0.5em;
    padding-top: 1em;
}

.graduation-degree{
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.timeline-item {
    margin-top: 1em;
    display: flex;
    margin-bottom: 20px;
}

.timeline {
    flex-basis: 15%;
    text-align: right;
    position: relative;
}

/*circle at end of line*/
.timeline::before {
    content: '';
    position: absolute;
    top:0;
    right: -3px;
    bottom: -4px; 
    height: 8px;
    width: 8px;
    z-index: 1;
    background-color: var(--text-color);
    border-radius: 50%;

    transition: background-color 0.5s;
}

/*circle animation*/
.timeline.present::before{
    animation: pulse 1s infinite;
}

/*timeline graphic*/
.timeline::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--nav-color-hover);

    transition: background-color 0.5s;
}

.date {
    position: absolute;
    font-weight: bold;
}

.end-date {
    top: -25px;
    right:1em;
}

.start-date {
    bottom: -25px;
    right:1em;
}

.experience {
    text-align: left;
    margin: auto;
    flex-basis: 0%;
    flex-grow: 1;
    padding-left: 20px;
}

.experience h3 {
    margin-top: 0;
}

.experience h4 {
    margin-top: 0;
    margin-bottom: 5px;
}


.experience p {
    margin-top: 5px;
}

.experience li {
    max-width: 35em;
    padding-top: 0.5em;
}


/*System Theme Prefferences*/
:root {

    /* Light theme colors -- TO BE APPLIED --

    --primary: rgb(90, 156, 242);
    --secondary: rgb(153, 184, 224);
    --accent: rgb(235, 139, 73);
    --background:  rgb(238, 244, 252);
    --text: black;

    --primary5: rgba(90, 156, 242, 0.05);
    --primary10: rgba(90, 156, 242, 0.1);
    --primary20: rgba(90, 156, 242, 0.2);
    --primary30: rgba(90, 156, 242, 0.3);
    --primary40: rgba(90, 156, 242, 0.4);
    --primary50: rgba(90, 156, 242, 0.5);
    --primary60: rgba(90, 156, 242, 0.6);
    --primary70: rgba(90, 156, 242, 0.7);
    --primary80: rgba(90, 156, 242, 0.8);
    --primary90: rgba(90, 156, 242, 0.9);
    --primary95: rgba(90, 156, 242, 0.95);

    --secondary5: rgba(153, 184, 224, 0.05);
    --secondary10: rgba(153, 184, 224, 0.1);
    --secondary20: rgba(153, 184, 224, 0.2);
    --secondary30: rgba(153, 184, 224, 0.3);
    --secondary40: rgba(153, 184, 224, 0.4);
    --secondary50: rgba(153, 184, 224, 0.5);
    --secondary60: rgba(153, 184, 224, 0.6);
    --secondary70: rgba(153, 184, 224, 0.7);
    --secondary80: rgba(153, 184, 224, 0.8);
    --secondary90: rgba(153, 184, 224, 0.9);
    --secondary95: rgba(153, 184, 224, 0.95);

    --accent5: rgba(235, 139, 73,0.05);
    --accent10: rgba(235, 139, 73,0.1);
    --accent20: rgba(235, 139, 73,0.2);
    --accent30: rgba(235, 139, 73,0.3);
    --accent40: rgba(235, 139, 73,0.4);
    --accent50: rgba(235, 139, 73,0.5);
    --accent60: rgba(235, 139, 73,0.6);
    --accent70: rgba(235, 139, 73,0.7);
    --accent80: rgba(235, 139, 73,0.8);
    --accent90: rgba(235, 139, 73,0.9);
    --accent95: rgba(235, 139, 73,0.95);
    */

    /* Light theme colors */

    --background-color:  rgb(238, 244, 252);
    --text-color: black;
    
    /* Nav Styling */
    --nav-color: rgba(105, 134, 172, 0.616);
    --nav-color-hover:rgba(105, 134, 172, 0.95);

    --hover-color: rgba(255, 255, 255, 0.23);
    --hover-blur: rgba(255, 255, 255, 0.6);

    --footer-color: #d3d3d3;
}

[data-theme="dark"] {
    /* Dark theme colors */
    --background-color: rgb(29, 29, 31);
    --text-color: white;

    /* Nav Styling */
    --nav-color: rgba(52, 87, 126, 0.671);
    --nav-color-hover:rgba(52, 87, 126, 0.95);
    --hover-color: rgba(0, 0, 0, 0.23);
    --hover-blur: rgba(0, 0, 0, 0.6);

    --footer-color: rgb(53, 53, 55);

/*nav-blur gradient transition*/
    .nav-blur {
        --blurColor1: rgba(29, 29, 31, 1);
        --blurColor2: rgba(29, 29, 31, 0);
      }
}




/*Responsive Design*/
@media (max-width: 1024px) {
    body {
        font-size: 14pt;
    }

    .navbar{
        top: 6px; /* Fixes vertical nav shift on resize */
    }

    .nav-links {
      gap: 2px; /* Adjusts the space between each link for smaller screens */
      margin: auto 0.3em;
      transition: margin 0.3s ease, gap 0.3s ease;
    }
    .nav-links a::after {
        transform: scale(0.85);
    }
  }

@media (max-width: 725px) {
    body {
        font-size: 12pt;
    }

    .navbar{
        background-color: var(--nav-color-hover);
        top: -12px; /* Higher touch target for mobile */

        /*Reposition on resize + Theme Shift*/
        transition: top 0.2s, background-color 0.5s;
    }

    .nav-blur{
        height: 6.4em;
        backdrop-filter: blur(1.8px);
        -webkit-backdrop-filter: blur(1.8px);
    }

    .nav-blur.active {
        height: 100rem;

        transition: height 0.5s
      }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 16px;
        margin-top: 0.5em;

        transition: all 0.5s;
    }

    .hamburger-menu span {
        display: block;
        width: 32px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--text-color);
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger-menu.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .name{  
        margin-left: 1.1em;
        font-size: 20px;
    }

    .navbar{
        flex-direction: column; /* Stack the top-nav and links vertically */
        align-items: flex-start; /* Align items to the start */
        padding: 1em;
    }

    .nav-links a{
        padding-top: 1em;
        margin-left: 0px;
    }

    .nav-links a::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        border-radius: 0.4em; /* Ensure it matches the border radius of the link */
        background-color: var(--hover-color); /* Slightly brighten the background */
        opacity: 0; /* Start fully transparent */
        box-shadow: 0 0 8px var(--hover-blur); /* Adjusted blur effect */
        z-index: -1; /* Ensure it doesn't block interaction with the link */

        transition: opacity 0.2s, box-shadow 0.2s;
    }

    .nav-links .current-page::before {
        bottom: 10px; /* Decrease distance between underline and text*/
    }

    .navbar .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-left: 0px;
        opacity: 0;

        overflow: hidden;
        max-height: 0; /* Initial state, menu is closed */

        transition: max-height 0.3s ease; /* Smooth transition for max-height */
        
    }

    .navbar.active{
        animation: bounceOpen 0.5s ease;
        transform-origin: top;
    }

    .navbar.active .nav-links {
        max-height: 300px;
        opacity: 1;
    }

    .navbar.active .nav-links a {
        padding: 15px 20px;
        margin: 5px 0; 
        display: block; 
    }

    .btn-dark-mode{
        transition: transform 0.5s, bottom 0s;
    }


    /*index styles*/
    .index-content-grid {
        display: block; /* Stack items instead of flex */
        margin-bottom: 2em;
    }

    .portrait img{
        max-height: 350px;
    }

    .portrait, .text-content {
        max-width: 100%; /* Allow each item to take full width */
        text-align: center;

        transition: flex 0.3s, padding 0.3s, max-width 0.3s;
    }

    /*Resume styles*/
    .timeline {
        padding-right: 5px;
    }

    .start-date{
        left: 22px;
    }

    .end-date.present {
        top:1px
    }

    .date {
        right: 5px;
        font-size: 0.9em; /* Smaller font size for dates */
    }

    .experience {
        padding-left: 15px;
    }

    .timeline-item {
        margin-bottom: 15px;
    }
    }

/*Hover effects for cursor devices only*/
@media (hover: hover) {
    
    .navbar:hover{
        background-color: var(--nav-color-hover);

        transition: background-color 0.2s ease;
    }

    .hamburger-menu:hover {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 16px;
        margin-top: 0.5em;

        transform: scale(1.25);
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 1em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */

        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    }

    .hamburger-menu:active{
        transform: scale(0.75);
    }

    .name:hover {
        transform: scale(1.20) translateY(-4px) translateX(6px); /* Scale the text and move it upwards */
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 1em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */

        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    }
    .nav-links a:hover {
        transform: scale(1.20) translateY(-4px) translateX(2px); /* Scale the text and move it upwards */

        transition: transform 0.2s;
    }

    .nav-links a:hover::after {
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 0.2em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */
        opacity: 1; /* Make the pseudo-element visible on hover */

        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    }

    .btn-dark-mode:hover {
        transform: scale(1.25);

        transition: transform 0.2s;
    }
    
    .btn-dark-mode:active{
        transform: scale(0.75);
    }
    
    .social-links a:hover {
        transform: scale(1.25) translateY(-4px); /* Scales up the link (and thus the icon) */
        border-radius: 0.5em;
        background-color: var(--hover-color); /* Slightly brighten the background */
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */

        transition: transform 0.2s;
    }

    /*Resume Styles*/

    .download-button:hover{
        transform: scale(1.25) translateY(-4px); /* Scales up the link (and thus the icon) */
        background-color: var(--hover-color); /* Slightly brighten the background */
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */

        transition: color 0.2s, transform 0.2s;
    }
    
}



/*Animations and Transitions*/

/*Text body on load*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/*Over-Expand Hamburger*/
@keyframes bounceOpen {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(1.1); } /* Overextend */
}

/*Resume present day*/
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.75); 
    }
}

@property --blurColor1 {
    syntax: '<color>';
    initial-value: rgba(238, 244, 252, 1);
    inherits: false;
  }
  
@property --blurColor2 {
    syntax: '<color>';
    initial-value: rgba(238, 244, 252, 0);
    inherits: false;
  }