body {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    margin: 1 0 0;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--nav-color);
    transition: var(--nav-color) 0.5s ease, color 0.5s ease;
    max-width: 80em;
    margin: 2.5em auto; /* Ceneters navbar elements */ 
    border-radius: 1em;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    left: 0;
    right: 0;
    width: 100%;
}

.top-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8em;
    background: var(--blur-color);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  .name {
    flex: 0 0 auto;
    margin-left: 1em;
    margin-right: auto 1em;
    font-size: 16pt;
    transition: transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s; /* Smooth transition for transform and font-size */
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjusts the space between each link */
    margin: auto 1em;
    font-size: 16pt;
    transition: all 0.2s;
}

.links a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.5s, transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    padding: 10px 20px;
    display: inline-block;
    position: relative; /* Needed for the absolute positioning of pseudo-elements */
    border-radius: 0.2em; /* Rounded corners */
    transform-origin: center;
}

/*adjusts hover effect size*/
.links a::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 0.4em; /* Ensure it matches the border radius of the link */
    background-color: var(--hover-color); /* Slightly brighten the background */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 8px var(--hover-blur); /* Adjusted blur effect */
    z-index: -1; /* Ensure it doesn't block interaction with the link */
    pointer-events: none;
}

.main_content{
    padding-top: 10em; /* Adjust as needed */
    padding-bottom: 2em; /* Adjust as needed */
    max-width: 80em; /* Same as the navbar */
    margin: 0 auto; /* Centers the main content */
}

.btn-dark-mode {
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    line-height: 0;
    background-color: var(--nav-color);
    cursor: pointer;
    transition: transform 0.5s
}

.bi-moon, .bi-sun {
    font-size: 30px;
    color: white;
}

footer {
    position: relative;
    border-top: 1px solid var(--footer-color); /* gray line */
    padding: 20px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed for spacing */
}

.social-links a {
    transition: transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    margin: 0.5em;
    cursor: pointer;
}

.bi-linkedin, .bi-github {
    font-size: 28px;
    margin: 0.5em;
}

:root {
    /* Light theme colors */
    --background-color: rgb(244, 244, 244);
    --text-color: black;

    /* Nav Styling */
    --nav-color: #6986ac;
    --blur-color: linear-gradient(rgba(244, 244, 244, 0.9), rgba(244, 244, 244, 0.2));
    --hover-color: rgba(255, 255, 255, 0.23);
    --hover-blur: rgba(255, 255, 255, 0.6);

    --footer-color: #d3d3d3;
}

[data-theme="dark"] {
    /* Dark theme colors */
    --background-color: rgb(29, 29, 31);
    --text-color: white;

    /* Nav Styling */
    --nav-color: #34577e;

    --blur-color: linear-gradient(rgba(29, 29, 31, 0.9), rgba(29, 29, 31, 0.2));
    --hover-color: rgba(0, 0, 0, 0.23);
    --hover-blur: rgba(0, 0, 0, 0.6);

    --footer-color: rgb(53, 53, 55);
}

@media (max-width: 1024px) {
    body {
        font-size: 14pt;
    }

    .navbar{
        top: 6px; /* Fixes vertical nav shift on resize */
    }

    .links {
      gap: 5px; /* Adjusts the space between each link for smaller screens */
      margin: auto 0.3em;
      transition: all 0.2s;
    }
  }

@media (max-width: 725px) {
    body {
        font-size: 12pt;
    }

    .navbar{
        top: 13px; /* Fixes vertical nav shift on resize */
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 16px;
        margin-top: 0.5em;
        transition: transform 0.5s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
    }

    .hamburger-menu span {
        display: block;
        width: 32px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger-menu.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .name{  
        margin-left: 2em;
        font-size: 20px;
    }

    .navbar{
        flex-direction: column; /* Stack the top-nav and links vertically */
        align-items: flex-start; /* Align items to the start */
        padding: 1em;
    }

    .links a{
        padding-top: 1em;
        margin-left: 0px;
    }

    .links a::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        border-radius: 0.4em; /* Ensure it matches the border radius of the link */
        background-color: var(--hover-color); /* Slightly brighten the background */
        opacity: 0; /* Start fully transparent */
        transition: opacity 0.2s, box-shadow 0.2s;
        box-shadow: 0 0 8px var(--hover-blur); /* Adjusted blur effect */
        z-index: -1; /* Ensure it doesn't block interaction with the link */
    }

    .navbar .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-left: 0px;

        overflow: hidden;
        max-height: 0; /* Initial state, menu is closed */
        transition: max-height 0.35s ease-out; /* Smooth transition for max-height */
    }

    .navbar.active .links {
        max-height: 300px;
    }

    .navbar.active .links a {
        padding: 15px 20px;
        margin: 5px 0; 
        display: block; 
    }
}

/*Hover effects for cursor devices only*/
@media (hover: hover) {
    .hamburger-menu:hover {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 16px;
        margin-top: 0.5em;

        transform: scale(1.25);
        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 1em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */
    }

    .hamburger-menu:active{
        transform: scale(0.75);
    }

    .name:hover {
        transform: scale(1.20) translateY(-4px) translateX(6px); /* Scale the text and move it upwards */
        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 1em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */
    }
    .links a:hover {
        transform: scale(1.20) translateY(-4px) translateX(2px); /* Scale the text and move it upwards */
        transition: transform 0.2s;
    }

    .links a:hover::after {
        transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, border-radius 0.2s;
        background-color: var(--hover-color); /* Slightly brighten the background */
        border-radius: 0.2em;
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */
        opacity: 1; /* Make the pseudo-element visible on hover */
    }

    .btn-dark-mode:hover {
        transform: scale(1.25);
        transition: transform 0.2s;
    }
    
    .btn-dark-mode:active{
        transform: scale(0.75);
    }
    
    .social-links a:hover {
        transform: scale(1.25) translateY(-4px); /* Scales up the link (and thus the icon) */
        transition: transform 0.2s;
        border-radius: 0.5em;
        background-color: var(--hover-color); /* Slightly brighten the background */
        box-shadow: 0 0 10px var(--hover-blur); /* Blur effect */
    }
}

